@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
    --fuenteDia: #252222;
    --fuenteNoche: #f3f3fa;
    --fondoDia: rgba(245, 245, 248, 0.2);
    --fondoNoche: black;
  }
  .dia {
    color: var(--fuenteDia);
    background-color: var(--fondoDia);
  }
  .noche {
    color: var(--fuenteNoche);
    background-color: var(--fondoNoche);
  }
  .navbar-brand{
    margin-left:10px;
}
.navbar-light .navbar-nav .active .nav-link  {
 color: red;
}
.navbar-dark .navbar-nav .active .nav-link  {
    color: red !important;
   } 
  body{
    color: var(--fuenteNoche); 
    background-color: var(--fondoNoche);
    /* background-image: url("./imagenes/fondo.jpg"); */
  }
  #contenedor{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:10%;
    justify-content: center;
    
}
#nav{
    position: absolute;
    top:10px;
    z-index: 2;

    width: 100%;
    text-align: right;
    justify-content: right;
   
}
#detalle{
  font-family: 'Rock Salt', cursive;
}
.pie{
   
	height:2.5rem;
	position: relative;
    top:-3.5rem;
    background-color: rgba(124, 151, 191, 0.5);
    color: rgba(236, 242, 51);
	font: size 1.5rem;;
	font-weight:bold;
	text-align:center;
}
figure{
    margin-top: 0%;
    margin-bottom: 0%;
}
.imagen{
   width: 33%;
   height:45vh;
   object-fit: cover;
   padding:5px;

}
.os{
  opacity: 0.4;
  -webkit-transition: opacity 0.3s;
 transition: opacity 0.3s;
}
.imagen:hover{  opacity: 1;}
img{
    height: 100%;
    width:100%;
}

@media screen and (max-width: 600px) { 
  #contenedor{
    display: flex;
    flex-wrap: wrap;
      justify-content: center;
  }
  .imagen{
    width: 22rem;
    height:12rem;
    object-fit: cover;
    padding:5px;
 }
 }