/* /*
CSS 
web o pagina:
autor:
fecha:
RECORDAR:
en caso de conflictos se aplica el estilo que se define último,
o sea al final de este archivo o en la misma pagina html

Se incluyen los principales SELECTORES SIMPLES; hay más combinaciones...

*/
/* 
:root {
  --azulclaro: #e6f2ff;
}

* {
	 
	font-family: 'Nunito', sans-serif;
	color: #17191c;
	
	box-sizing:border-box;
	 margin-left:10px;
	padding:0px;
}
h2{
  margin-left:20px;
}

#menu {
	

  padding:0;
  list-style-type:none;
}
#menu a {
  width:150px;
  text-decoration:none;
  text-align:center;
  color:#17191c;
  background-color:none;
  padding:3px 5px;
  border-right:1px solid blue;
  display:block;
}



#menu a:link{
  background-color:none;
  color:#17191c;
}
#menu a:visited{
  background-color:#000000;
  color:#751638;
  font-weight:bold;
}
#menu a:hover{
  background-color:#c5cc9f;
  color:#fffff;
  font-size:18px;
  font-weight:bold;
} */



* {
  margin: 0px;

}
body {
  background-image: url("./assets/fondo.jpg");
  }
  .titulo{
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(67, 67, 153,0.7);
  }
  .menu{
    display: flex;
    flex-wrap: wrap;
  
    justify-content: center;
  }

  .lista{
    text-align: center;
    width: 40%;
    font-size:20px;
   
  }
  .lista a:hover{
    text-decoration: none;
  }
  .lista li{
    background-color: white;
  }
  .lista li:hover{
    background-color: rgb(228, 223, 220);
    color: white;
  }

  
  


  