* {
    /* estilo por defecto para todos los elementos de la pagina*/
    box-sizing: border-box;
    font-family: Candara;
	color:rgba(107, 104, 104);
}
h1{font-size:60px;
}
h3{
    margin-left: 10%;
}
.contenedor{
	  display: flex;
justify-content: center;}
.piefoto{
	height:30%;
	position: relative;
    top:-30%;
    background-color: rgba(124, 151, 191, 0.5);
    color: rgba(236, 242, 51);
	font-size:3vw;
	font-weight:bold;
	text-align:center;
}
figure{
	 padding: 5px;
    margin: 5px;
	
       width: 20%;
    height:50%;
    display: inline-block;
    
	
}

img{   

    width: 100%;
   
    padding-top: 5%;
    object-fit: contain;
	display:inline-block
   
}
.piefoto {
	height:12vh;
	 top:-12vh;
    font-size: 1.5vw;
  }

@media only screen and (max-width: 600px) {




}