:root {
  --fuenteDia: #252222;
  --fuenteNoche: #f3f3fa;
  --fondoDia: rgba(245, 245, 248, 0.2);
  --fondoNoche: black;
}
.dia {
  color: var(--fuenteDia);
  background-color: var(--fondoDia);
}
.noche {
  color: var(--fuenteNoche);
  background-color: var(--fondoNoche);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Candara;
}
* body {
  background: rgba(0, 0, 128, 0.1);
  /* Azul al 10% */
}
* body h1 {
  font-size: 60px;
  color: #6b6868;
}
* body h3 {
  margin-left: 10%;
  float: left;
}
* body p {
  float: left;
}
* body figure {
  padding: 5px;
  margin: 5px;
  width: 20%;
  height: 41vh;
  display: inline-block;
}
* body figure img {
  width: 100%;
  padding-top: 5%;
  object-fit: contain;
  display: inline-block;
}
.marco {
  display: grid;
  border-style: solid;
  border-color: red;
  grid-template-columns: 250px repeat(3, 1fr);
  grid-template-rows: 150px 40px auto 40px;
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}
.encabezado {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
}
.migas {
  background-color: #6b6868;
  color: white;
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  float: left;
  overflow: auto;
  text-align: center;
}
.lado {
  background-color: #6b6868;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.lado button {
  border-radius: 10px;
  background-color: rgba(224, 245, 66);
  width: 120px;
}
.contenido {
  grid-column: 2 / span 3;
  grid-row: 3 / span 1;
  overflow: scroll;
  /*solamente desplazo el contenido de esta grilla*/
  overflow-x: hidden;
}
.pie {
  text-align: center;
  grid-column: 1 / span 4;
  grid-row: 4 / span 1;
}
li {
  list-style-type: none;
  font-family: candara;
  position: relative;
  width: 120px;
}
li a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  width: 120px;
  height: auto;
  border: 1px solid #6b6868;
  color: #fff;
  background-color: #6b6868;
}
li a:hover {
  color: #000;
  background-color: #fff;
}
nav li ul {
  display: none;
  position: absolute;
  top: 0px;
  left: 120px;
}
nav li:hover ul {
  display: block;
}
.contenedor {
  display: flex;
  justify-content: center;
}
.piefoto {
  position: relative;
  background-color: rgba(124, 151, 191, 0.5);
  color: rgba(236, 242, 51);
  font-size: 1.2vw;
  font-weight: bold;
  text-align: center;
  height: 12vh;
  top: -12vh;
}
@media screen and (max-width: 600px) {
  p {
    font-size: 22px;
  }
  /*solo aplica a pantallas menores de 600*/
}
