*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body {
      background: rgba(0, 0, 128, 0.1) /* Azul al 10% */
  }

  .marco {
    display: grid;
    border-style: solid;
    border-color: red;
    grid-template-columns: 250px repeat(3,1fr);
    grid-template-rows: 150px 40px auto 40px;
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
  }

  .encabezado {
    border-style: solid;
    border-color: blue;
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
  }

  .migas {
    border-style: solid;
    border-color: yellow;
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
  }

  .lado {
    border-style: solid;
    border-color: violet;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .contenido {
    border-style: solid;
    border-color: violet;
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
overflow: scroll;/*solamente desplazo el contenido de esta grilla*/
overflow-x: hidden;
  }

  .pie {
    border-style: solid;
    border-color: aqua;
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;
  }


  * {
      box-sizing:border-box;
  }


  .imgD {
      float:right;
      margin:10px;
      /* width:400px;
      height:200px; */
      width:35%;
      height:auto;
      object-fit:cover;
  }
  .imgI {
      float:left;
      margin:10px;
      clear:right;
      /* width:400px;
      height:200px; */
      width:35%;
      height:auto;
      object-fit:cover;
  }
  
@media screen and(max-width:600px) {
    p{ 
        font-size:22px
    } /*solo aplica a pantallas menores de 600*/
}
    
