body{
    background-color:rgba(245, 245, 5,0.5);
    font-family: candara;
    
}
.carousel {
    text-align: center;

    width: 22vw; 
    margin-left: auto;
    margin-right: auto;
   }
   #carouselExampleCaptions{
    text-align: center;
   }
   .carousel-caption{
       background-color:rgba(245, 245, 5,0.4);
     color:black;
     font-weight: bold;
     
     position:absolute;
     left:0%;
     right:0%;
     bottom:3rem;
   }
   .titulo{
       color:grey;
       font-size: 50px;
       text-align: center;

   }